{# mapviewer/templates/carhyce.html.twig #}
<div class="modal-content h-100 w-100">
	<div class="modal-header">
	    <h5 class="modal-title" id="fiche_title">
	        {{ title }}
	    </h5>
	    <button aria-label="Fermer" class="close" data-dismiss="modal" type="button">
	        <span aria-hidden="true">
	            ×
	        </span>
	    </button>
	</div>
	<div class="modal-body">
	    <div class="fiche">
			<div class="row">
				<fieldset class="localinfo">
				    <legend>
				    	Informations de localisation
					</legend>
					{{ localinfo }}
				</fieldset>
			</div>
			<div class="row">
			    <ul class="nav nav-tabs nav-fill" id="tabs_informations" role="tablist">
			        <li class="nav-item">
			            <a aria-controls="roe" aria-selected="true" class="nav-link active" data-toggle="tab" href="#roe" id="roe-tab" role="tab">
			                Information sur l'obstacle à l'écoulement
			            </a>
			        </li>

			        {% if roeice is defined and roeice is not null %}	
				        <li class="nav-item">
				            <a aria-controls="roeice" aria-selected="false" class="nav-link" data-toggle="tab" href="#roeice" id="roeice-tab" role="tab">
								Information sur la continuité écologique
				            </a>
				        </li>
			        {% endif %}

			    </ul>
			</div>
			<div class="tab-content" id="roe_information">
			    <div aria-labelledby="roe-tab" class="tab-pane fade show active" id="roe" role="tabpanel">
					{{ roe }}
			    </div>

			    {% if roeice is defined and roeice is not null %}	
				    <div aria-labelledby="roeice-tab" class="tab-pane fade" id="roeice" role="tabpanel">
				    	{{ roeice }}
				    </div>
			    {% endif %}

			</div>
	    </div>
	</div>